@page
@model ThAmCo.Events.Pages.GuestList.DetailsModel
@{
    ViewData["Title"] = "Guest Details";
}

<div class="container mt-4">
    <h1>Guest Details</h1>

    @if (Model.GuestVM != null)
    {
        <ul>
            <!--Display all the guest bookings accosiated with a guest-->
            @foreach (var booking in Model.Guest.GuestBookings)
            {
                <li>
                    Event: @booking.Event?.Title (@booking.Event?.EventType)<br />
                    Attended: @(booking.HasAttended ? "Yes" : "No")
                </li> 
            }
        </ul>
    } 
    else
    {
        <div class="alert alert-danger">
            Guest information not found.
        </div>
    }
</div>